<div class="h-fit w-11/12 mx-auto px-6 py-8 flex flex-col gap-6">
    <section class="flex flex-col gap-4">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Add products</h1>
        <span>The most important feature in the product editing section is the product adding part. When adding products here, do not ignore to fill in all the required fields completely and follow the product adding rules.</span>
    </section>
    <div class="flex gap-4 justify-start border-b-2">
        <button overview class="px-6 py-3 hover:border-b-2 hover:border-blue-500">Overview</button>
        <button add-product class="px-6 py-3 hover:border-b-2 hover:border-blue-500">Add Product</button>
    </div>
    <section>
        <div id="product-container" class="flex sm:gap-6 sm:flex-col mx-auto items-center w-3/4 pt-20">

        </div>
    </section>
</div>