<section class="h-[70vh] w-screen">
  <img
    class="w-full h-full object-cover relative"
    src="https://images.pexels.com/photos/9956769/pexels-photo-9956769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="Electronic hero image"
  />
  <div
    class="flex flex-col gap-5 items-center absolute top-2/4 right-2/4 translate-x-[50%] translate-y-[-50%] text-center"
  >
    <h1 class="text-white font-bold text-6xl">New arrivals are here</h1>
    <p class="text-white text-xl">
      The new arrivals have, well, newly arrived. Check out the latest options
      from our summer small-batch release while they're still in stock.
    </p>
    <a
      href="/products"
      class="bg-white rounded hover:cursor-pointer hover:bg-transparent hover:text-neutral-50 border-2 px-6 py-3"
    >
      Shop New Arrivals
    </a>
  </div>
</section>
<section>
  <div>
    <h2></h2>
  </div>
</section>
<section>
  <div class="w-screen flex">
    <div class="relative flex-1">
      <img
        class="w-full object-cover"
        src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h2
        class="absolute top-1/2 right-1/2 translate-x-[50%] translate-y-[-50%] text-3xl lg:text-6xl text-stone-50"
      >
        Category
      </h2>
    </div>
    <div class="flex-1 flex flex-wrap">
      <div class="w-1/2 h-1/2 relative">
        <img
          src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div
          class="flex justify-between w-11/12 absolute bottom-2 right-1/2 translate-x-[50%]"
        >
          <span>Product name</span>
          <span>Price: $400</span>
        </div>
      </div>
      <div class="w-1/2 h-1/2 relative">
        <img
          src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div
          class="flex justify-between w-11/12 absolute bottom-2 right-1/2 translate-x-[50%]"
        >
          <span>Product name</span>
          <span>Price: $400</span>
        </div>
      </div>
      <div class="w-1/2 h-1/2 relative">
        <img
          src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div
          class="flex justify-between w-11/12 absolute bottom-2 right-1/2 translate-x-[50%]"
        >
          <span>Product name</span>
          <span>Price: $400</span>
        </div>
      </div>
      <div class="w-1/2 h-1/2 relative">
        <img
          src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div
          class="flex justify-between w-11/12 absolute bottom-2 right-1/2 translate-x-[50%]"
        >
          <span>Product name</span>
          <span>Price: $400</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-screen flex flex-row-reverse">
    <div class="relative flex-1">
      <img
        class="w-full object-cover"
        src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <h2
        class="absolute top-1/2 right-1/2 translate-x-[50%] translate-y-[-50%] text-3xl lg:text-6xl text-stone-50"
      >
        Category
      </h2>
    </div>
    <div class="flex-1 flex flex-wrap">
      ${fourProducts.map(item => `
      <div class="w-1/2 h-1/2 relative">
        <img
          src="https://images.pexels.com/photos/4300393/pexels-photo-4300393.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <div
          class="flex justify-between w-11/12 absolute bottom-2 right-1/2 translate-x-[50%]"
        >
          <span>${item.name}</span>
          <span>Price: $${item.priceincents / 100}</span>
        </div>
      </div>
      ` ).join("")}
    </div>
  </div>
</section>
