<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="min-height:100vh; display: flex; align-items: center; justify-content: center; background: #f0faff;">
    <section class="wrapper" style=" position: relative; max-width: 470px; width: 100%; border-radius: 12px; padding: 20px 30px 120px; background: #4070f4; box-shadow: 0 5px 10px  rgba( 0, 0, 0, 0.1 ); overflow: hidden;">
      <div class="form signup" style="justify-content: space-between;">
        <form action="#">
            <br>
            <br>
            <br>
          <input type="text" placeholder="Email address" required style="margin-left: 40px; height:22px; width: 180px;" />
          <input type="password" placeholder="Password" required style="height:22px; width: 180px;" />
        </form>
      </div>
      <div class="form login" style="  position: absolute; left: 50%; bottom: -86%; transform: translateX( -50%); width: calc(100% + 220px); padding: 20px 140px; border-radius: 50%; height: 100%; background: #fff; transition: all 0.6s ease;"></div>
       <button style="margin-left: 180px; margin-top: 30px; border-radius: 500px; background-color: black; opacity: 89%; font-size: 30px; text-align: center; color: #fff; font-weight: 600; cursor: pointer;">Login</button> 
    </section>
  </body>
<body class="michaeljones">
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            <h1>Welcome Back!</h1>
            </div>
        </div>
        
        
        <div class="right">
            <div class="inputs">
                <input type="text" placeholder="email">
                <br>
                <input type="password" placeholder="password">
                <br>
                <br>
                <button>Login</button>
            </div>
        </div>
    </div>
 </body>
</html>