<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="michaeljones">
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>Welcome Back!</h1>
        </div>
      </div>

      <div class="right">
        <div class="inputs">
          <input type="text" placeholder="email" />
          <br />
          <input type="password" placeholder="password" />
          <br />
          <br />
          <button>Login</button>
        </div>
      </div>
    </div>
  </body>
</html>
