<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet our leadership</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Discover the Faces of Our Company</p>
      </div>
      <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/98444386?v=4" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">John Garcia</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Founder</p>
            </div>
          </div>
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/98444386?v=4" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Luis Martinez</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">CEO</p>
              </div>
            </div>
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 rounded-full" src="https://avatars.githubusercontent.com/u/123283123?s=400&u=3cfa2519aa8b357cd2f00c066d1f16e2cc700743&v=4" alt="">
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Michael Jones</h3>
                <p class="text-sm font-semibold leading-6 text-indigo-600">President</p>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
  